In [1]:
import numpy as np
# データの図を出力するライブラリ
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

# 環境設定
import sys
sys.path.append('models')

# 実際の機械学習ライブラリ
import tensorflow as tf

In [2]:
# Google Driveからデータを引っ張ってくる
from google.colab import drive
drive.mount('/content/drive')
!cp '/content/drive/MyDrive/shibaki analysis/AE-FILD BAL patient_data.xlsx' patient_data.xlsx

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# openpyxlというエンジンを使用して、ExcelファイルをPandasのデータフレームとして読みこむ
#!pip install openpyxl
import pandas as pd
AE_FILD_df = pd.read_excel('patient_data.xlsx', engine='openpyxl')

In [4]:
AE_FILD_df.head()

     No       ID  90day mortality\nsurvival:0\ndeath:1  ...  TNFb  VEGF    IL-36β
0  K003   558277                                     0  ...   3.2   3.2  4.221958
1  K022  1848827                                     0  ...   3.2   3.2  2.000000
2  K024  1902349                                     0  ...   3.2   3.2  2.000000
3  K043  3165531                                     0  ...   3.2   3.2  2.000000
4  K045  3253683                                     0  ...   3.2   3.2  2.000000

[5 rows x 64 columns]

In [5]:
# ヘルパーファンクションでテキスト内の"\n"をスペースに変換する
def clean_header(text):
  text_n_newline = text.replace("\n", " ")
  return text_n_newline

In [6]:
# ヘッダーコラムのテキストをリストとして変換する
AE_FILD_header_list = AE_FILD_df.columns.values.tolist()
AE_FILD_header_list

['No',
 'ID',
 '90day mortality\nsurvival:0\ndeath:1',
 'sex\nmale:0\nfemale:1',
 'age ',
 'smoking status\nNever:0\nEx(quit smoking over a year ago):1\nCurrent:2',
 'Brinkman Index',
 'emphysema\n(-):0\n(+):1',
 'Baseline ILD\nUIP:0\nprobable UIP:1\nIndeterminate for UIP:2\nAlternative diagnosis:3',
 'Collagen disease\n(-):0\n(+):1',
 'IPAF\n(-):0\n(+):1',
 'P/F ratio',
 'LDH',
 'CRP',
 'KL-6',
 '\nBAL(neutro %)',
 '\nBAL(Lymph %)',
 '\nBAL(Eos %)',
 '\nBAL(M %)',
 '\nBAL(CD4/8)',
 'MMP-1',
 'MMP-7',
 'TGFB1',
 'TGFB2',
 'TGFB3',
 'EGF',
 'FGF-2',
 'EOTAXIN',
 'TGF-a',
 'G-CSF',
 'Flt-3L',
 'GM-CSF',
 'FRACTALKINE',
 'IFN-a2',
 'IFN-g',
 'GRO',
 'IL-10',
 'MCP-3',
 'IL-12P40',
 'MDC',
 'IL-12P70',
 'IL-13',
 'IL-15',
 'sCD40L',
 'IL-17',
 'IL-1RA',
 'IL-1a',
 'IL-9',
 'IL-1b',
 'IL-2',
 'IL-3',
 'IL-4',
 'IL-5',
 'IL-6',
 'IL-7',
 'IL-8',
 'IP-10',
 'MCP-1',
 'MIP-1a',
 'MIP-1b',
 'TNFa',
 'TNFb',
 'VEGF',
 'IL-36β']

In [7]:
#　上記のヘッダーリストにclean_header()を応用する
AE_FILD_header_list_cleaned = [clean_header(x) for x in AE_FILD_header_list]
print(AE_FILD_header_list_cleaned)

['No', 'ID', '90day mortality survival:0 death:1', 'sex male:0 female:1', 'age ', 'smoking status Never:0 Ex(quit smoking over a year ago):1 Current:2', 'Brinkman Index', 'emphysema (-):0 (+):1', 'Baseline ILD UIP:0 probable UIP:1 Indeterminate for UIP:2 Alternative diagnosis:3', 'Collagen disease (-):0 (+):1', 'IPAF (-):0 (+):1', 'P/F ratio', 'LDH', 'CRP', 'KL-6', ' BAL(neutro %)', ' BAL(Lymph %)', ' BAL(Eos %)', ' BAL(M %)', ' BAL(CD4/8)', 'MMP-1', 'MMP-7', 'TGFB1', 'TGFB2', 'TGFB3', 'EGF', 'FGF-2', 'EOTAXIN', 'TGF-a', 'G-CSF', 'Flt-3L', 'GM-CSF', 'FRACTALKINE', 'IFN-a2', 'IFN-g', 'GRO', 'IL-10', 'MCP-3', 'IL-12P40', 'MDC', 'IL-12P70', 'IL-13', 'IL-15', 'sCD40L', 'IL-17', 'IL-1RA', 'IL-1a', 'IL-9', 'IL-1b', 'IL-2', 'IL-3', 'IL-4', 'IL-5', 'IL-6', 'IL-7', 'IL-8', 'IP-10', 'MCP-1', 'MIP-1a', 'MIP-1b', 'TNFa', 'TNFb', 'VEGF', 'IL-36β']

In [8]:
AE_FILD_df.columns = AE_FILD_header_list_cleaned
AE_FILD_df.head()

     No       ID  90day mortality survival:0 death:1  ...  TNFb  VEGF    IL-36β
0  K003   558277                                   0  ...   3.2   3.2  4.221958
1  K022  1848827                                   0  ...   3.2   3.2  2.000000
2  K024  1902349                                   0  ...   3.2   3.2  2.000000
3  K043  3165531                                   0  ...   3.2   3.2  2.000000
4  K045  3253683                                   0  ...   3.2   3.2  2.000000

[5 rows x 64 columns]

In [9]:
# まず機械学習に不必要なコラムをdrop()する
AE_FILD_df = AE_FILD_df.drop(columns=["No", "ID"])
AE_FILD_df.head()

   90day mortality survival:0 death:1  sex male:0 female:1  ...  VEGF    IL-36β
0                                   0                    0  ...   3.2  4.221958
1                                   0                    1  ...   3.2  2.000000
2                                   0                    0  ...   3.2  2.000000
3                                   0                    0  ...   3.2  2.000000
4                                   0                    0  ...   3.2  2.000000

[5 rows x 62 columns]

In [10]:
# データセット内のNaN値をどうするか (まずはinputer transformで試してみる)
from sklearn.impute import SimpleImputer
AE_FILD_df.replace('NaN', np.NaN, inplace=True) # データフレーム内の"NaN"をnumpyのNaNと置き換える
imp = SimpleImputer(missing_values=np.NaN, strategy="median") # sklearnのSimpleImputerを使い、np.NaNをnull値として認識させる。加、strategy="median"はnp.NaNをその行のNaNを中央値と置き換えるための指定
AE_FILD_df_idf = pd.DataFrame(imp.fit_transform(AE_FILD_df))
AE_FILD_df_idf.columns = AE_FILD_df.columns # SimpleImputerは数値しか作成できない為、元のデータセットの行名を新しいデータセットに加るコード
df_null_val = list(AE_FILD_df_idf.isna().sum()) #　データセット内にNaN値が無いかの確認
print(f"AE_FILD_df_idfデータフレーム内のNaN数：{df_null_val}")
AE_FILD_df_idf.head()

AE_FILD_df_idfデータフレーム内のNaN数：[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

   90day mortality survival:0 death:1  sex male:0 female:1  ...  VEGF    IL-36β
0                                 0.0                  0.0  ...   3.2  4.221958
1                                 0.0                  1.0  ...   3.2  2.000000
2                                 0.0                  0.0  ...   3.2  2.000000
3                                 0.0                  0.0  ...   3.2  2.000000
4                                 0.0                  0.0  ...   3.2  2.000000

[5 rows x 62 columns]

In [11]:
# 今回の機械学習に使うライブラリーはsklearnのRF解析
#　sklearnが機械学習モデルを適応できるようにデータをnumpyのarrayに変換する
A = AE_FILD_df_idf.values #.valuesはnumpy arrayを出力する　
print(A)

[[ 0.          0.         78.         ...  3.2         3.2
   4.22195768]
 [ 0.          1.         72.         ...  3.2         3.2
   2.        ]
 [ 0.          0.         86.         ...  3.2         3.2
   2.        ]
 ...
 [ 0.          0.         74.         ...  3.2         3.2
   2.        ]
 [ 0.          1.         80.         ...  3.2         3.2
   2.        ]
 [ 0.          0.         71.         ...  3.2         3.2
   2.        ]]

In [12]:
#　後で、乗算と除算ができるように、すべての値を浮動小数点に変換する
A = A.astype('float64')
print(A)

[[ 0.          0.         78.         ...  3.2         3.2
   4.22195768]
 [ 0.          1.         72.         ...  3.2         3.2
   2.        ]
 [ 0.          0.         86.         ...  3.2         3.2
   2.        ]
 ...
 [ 0.          0.         74.         ...  3.2         3.2
   2.        ]
 [ 0.          1.         80.         ...  3.2         3.2
   2.        ]
 [ 0.          0.         71.         ...  3.2         3.2
   2.        ]]

In [13]:
from sklearn.neighbors import KernelDensity
from sklearn.model_selection import GridSearchCV

# ガウス法に基づきまずデータセットの密度をnumpyで表すためbandwithの設定
# このbandwithの値に基づきデータ全体のパターンを機械学習モデルが予測しようとするため、機械学習モデルが勝手に最適bandwithを見つけてくれるものの、初期設定は重要
bandwith_params = {'bandwidth': np.arange(0.01,1,0.05)} # [0.01 から　１]の間でステップ0.05で値を作成
# モデルをスキャンして最適パラメーターを見つける機械学習モデル（模擬データを作成するのに最適）
grid_search = GridSearchCV(KernelDensity(), bandwith_params)
# Aは従来の患者データ。fit()することで上記の機械学習モデルをトレーニングしてデータ内のパターンを学習してもらう
grid_search.fit(A)
kde = grid_search.best_estimator_

# rand_stateの定義（rand_stateは新しいデータを作成する際のseedの定義）
rand_state = 11
# トレーニングしたモデルを使い新しい症例を20例作成してもらう
new_data = kde.sample(20, random_state = rand_state)

#　新しい症例を元のデータに加る
A_updated = np.concatenate((A, new_data), axis=0)

In [14]:
print(A_updated)
print(A_updated.shape)

[[ 0.00000000e+00  0.00000000e+00  7.80000000e+01 ...  3.20000000e+00
   3.20000000e+00  4.22195768e+00]
 [ 0.00000000e+00  1.00000000e+00  7.20000000e+01 ...  3.20000000e+00
   3.20000000e+00  2.00000000e+00]
 [ 0.00000000e+00  0.00000000e+00  8.60000000e+01 ...  3.20000000e+00
   3.20000000e+00  2.00000000e+00]
 ...
 [-1.68350206e-01  2.17062849e+00  7.54495993e+01 ...  4.41747449e+00
   3.43491011e+00  2.68344722e-01]
 [-9.01467055e-02  4.51755038e-01  8.50369950e+01 ...  6.59091640e-01
   2.87582520e+00  2.47272135e+00]
 [ 1.49239244e+00 -7.64538019e-01  7.86001193e+01 ...  2.28906569e+00
  -2.75123505e-02  1.22170628e+00]]
(80, 62)

In [15]:
# 行数と列数を変数として保管する
NUM_ROWS, NUM_COLS = A_updated.shape
print(f"\nこのデータセットの行数：{NUM_COLS}、列数：{NUM_ROWS}")

このデータセットの行数：62、列数：80

In [16]:
# データセットのフィーチャー・ラベル定義

X_all = A_updated[:,0:62].copy()  # X (フィーチャー) ... 全ての行
y_all = A_updated[:,0].copy()    # y (ラベル) ... 全ての行, 1列目のみ

# Create a copy of X_all and y_all to apply rf analysis to later
X_all_rf = X_all.copy()
y_all_rf = y_all.copy()

print(f"X_all (フィーチャーのみ: 10行まで) \n {X_all[:10,:]}")
print(f"y_all (ラベルのみ) \n {y_all}")

X_all (フィーチャーのみ: 10行まで)
 [[0.00000000e+00 0.00000000e+00 7.80000000e+01 1.00000000e+00
  1.60000000e+03 0.00000000e+00 1.00000000e+00 0.00000000e+00
  0.00000000e+00 2.91666667e+02 3.45000000e+02 2.35000000e+00
  1.59900000e+03 4.10000000e+01 3.80000000e+01 3.00000000e+00
  1.30000000e+01 3.50000000e+00 6.64773204e+02 1.33137916e+04
  6.21768045e+01 4.04388091e+01 9.76562500e+00 4.45038295e+00
  6.24694689e+00 1.09631327e+01 3.20000000e+00 1.08365991e+01
  3.20000000e+00 3.20000000e+00 3.32659886e+01 3.20000000e+00
  3.20000000e+00 9.54746558e+02 3.20000000e+00 3.47345075e+01
  3.20000000e+00 8.15306905e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.26679837e+01 3.20000000e+00 3.95799401e+02
  3.37974706e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.44513353e+01 3.20000000e+00 2.30161662e+01
  3.20000000e+00 3.13439925e+02 2.16094095e+03 1.00987865e+03
  2.89063159e+01 3.09405765e+01 4.48326515e+00 3.20000000e+00
  3.20000000e+00 4.22195768e+00]
 [0.00000000e+00 1.00000000e+00 7.20000000e+01 0.00000000e+00
  0.00000000e+00 0.00000000e+00 2.00000000e+00 0.00000000e+00
  0.00000000e+00 2.64571429e+02 2.77000000e+02 5.65000000e+00
  1.62000000e+03 1.80000000e+01 2.10000000e+01 0.00000000e+00
  6.10000000e+01 3.90000000e+00 5.61092206e+02 1.21072533e+04
  8.33563093e+01 6.44604732e+01 9.76562500e+00 6.93255880e+00
  6.24694689e+00 1.59634485e+01 3.20000000e+00 5.30382982e+01
  3.20000000e+00 4.63580561e+00 7.57335218e+01 6.71073463e+00
  1.08491713e+01 2.84970353e+03 9.80117950e+00 4.61356020e+01
  3.20000000e+00 6.00212600e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.69253593e+01 3.20000000e+00 1.14915176e+03
  6.37370561e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.66035850e+01 3.20000000e+00 6.05126087e+01
  3.20000000e+00 3.25398968e+02 1.56479402e+04 1.94366385e+03
  2.51051658e+01 2.53425913e+01 2.40742739e+01 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 8.60000000e+01 0.00000000e+00
  0.00000000e+00 0.00000000e+00 2.00000000e+00 0.00000000e+00
  0.00000000e+00 2.50000000e+02 2.69000000e+02 6.50000000e+00
  1.07300000e+03 2.00000000e+00 8.10000000e+01 4.00000000e+00
  1.20000000e+01 2.50000000e+00 5.79213448e+01 6.61793760e+03
  1.76362853e+01 1.67883461e+01 9.76562500e+00 3.80253444e+00
  6.24694689e+00 5.76794706e+00 3.20000000e+00 3.28001631e+01
  8.79158795e+00 3.20000000e+00 6.27652967e+01 3.86735882e+00
  3.20000000e+00 4.33780612e+02 3.20000000e+00 4.01899560e+00
  3.20000000e+00 1.40358150e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.36762695e+01 3.20000000e+00 6.70580797e+01
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.22881748e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 3.57239405e+01 2.80782648e+03 2.43983235e+02
  5.91213979e+00 2.36984667e+01 8.74870346e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 5.80000000e+01 1.00000000e+00
  5.00000000e+02 0.00000000e+00 2.00000000e+00 0.00000000e+00
  0.00000000e+00 2.00000000e+02 5.38000000e+02 1.12600000e+01
  2.39200000e+03 1.30000000e+01 4.70000000e+01 1.40000000e+01
  2.50000000e+01 4.30000000e+00 2.92713992e+02 8.25495669e+03
  1.23918901e+01 4.07056756e+01 9.76562500e+00 3.80253444e+00
  6.24694689e+00 9.39852644e+00 3.20000000e+00 2.00276409e+01
  3.20000000e+00 3.20000000e+00 4.09284150e+01 4.62571266e+00
  3.20000000e+00 4.16843721e+02 3.20000000e+00 2.14473484e+01
  3.20000000e+00 3.67546548e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 4.92580626e+00 3.20000000e+00 2.05470611e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.11742939e+01 3.20000000e+00 2.45173355e+01
  3.20000000e+00 8.75063228e+01 3.90890038e+03 6.37958551e+02
  3.51869020e+00 1.48707141e+01 3.79289660e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.60000000e+01 1.00000000e+00
  8.00000000e+02 0.00000000e+00 3.00000000e+00 0.00000000e+00
  0.00000000e+00 3.80952381e+02 3.72000000e+02 6.43000000e+00
  1.55500000e+03 9.00000000e+00 3.70000000e+01 3.60000000e+01
  7.00000000e+00 2.30000000e+00 6.45580358e+02 2.71107196e+04
  6.93445629e+01 9.29778795e+01 9.76562500e+00 4.35006933e+00
  6.24694689e+00 3.61324603e+01 3.99200606e+00 1.99486543e+01
  9.55410507e+00 3.20000000e+00 1.60465886e+01 3.20000000e+00
  3.20000000e+00 2.52724913e+02 3.85745212e+01 4.06313089e+01
  3.20000000e+00 9.46005892e+02 3.20000000e+00 3.20000000e+00
  3.20000000e+00 6.57253929e+00 3.20000000e+00 1.08932145e+03
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 7.74538749e+00 3.32750795e+01 2.40737287e+02
  3.20000000e+00 1.79661551e+02 2.57546732e+03 3.49547492e+03
  3.18217851e+01 1.00036875e+02 2.12332605e+01 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 8.10000000e+01 0.00000000e+00
  0.00000000e+00 0.00000000e+00 2.00000000e+00 0.00000000e+00
  0.00000000e+00 3.25000000e+02 3.43000000e+02 4.20000000e-01
  5.82000000e+03 2.00000000e+00 8.10000000e+01 1.00000000e+00
  1.50000000e+01 3.10000000e+00 4.62588105e+01 9.60329684e+03
  1.10800065e+01 2.33008940e+01 9.76562500e+00 4.35006933e+00
  6.24694689e+00 6.67147878e+00 3.20000000e+00 3.28001631e+01
  6.13752389e+00 3.20000000e+00 4.09284150e+01 8.29413228e+00
  3.20000000e+00 3.20197878e+02 3.20000000e+00 1.56167148e+01
  3.20000000e+00 2.29581430e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.02043389e+01 3.20000000e+00 5.18488947e+01
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 6.52271903e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.70957836e+01 2.14361059e+03 3.17600056e+02
  1.08802641e+01 2.92194514e+01 4.59370782e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.80000000e+01 1.00000000e+00
  1.00000000e+03 1.00000000e+00 2.00000000e+00 0.00000000e+00
  0.00000000e+00 3.33333333e+02 1.87000000e+02 1.43100000e+01
  3.58000000e+02 5.30000000e+01 1.30000000e+01 5.00000000e+00
  2.90000000e+01 3.80000000e+00 2.34392214e+02 1.20867255e+04
  2.02661750e+01 2.48422792e+01 9.76562500e+00 4.85019574e+00
  6.24694689e+00 4.28304635e+00 3.20000000e+00 2.71388203e+01
  3.61759147e+00 3.60020004e+00 6.64228241e+01 6.42167825e+00
  3.20000000e+00 4.35097287e+02 3.20000000e+00 1.03869901e+01
  3.20000000e+00 7.75214312e+01 3.20000000e+00 3.79965391e+00
  3.20000000e+00 4.92580626e+00 3.20000000e+00 3.81310620e+02
  1.00289179e+01 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 8.90290020e+00 3.20000000e+00 1.29276818e+02
  3.20000000e+00 1.77115594e+02 2.57808820e+03 3.17652448e+02
  1.21770157e+01 3.37823466e+01 4.21605041e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 1.00000000e+00 7.60000000e+01 1.00000000e+00
  1.00000000e+02 0.00000000e+00 3.00000000e+00 1.00000000e+00
  0.00000000e+00 2.85714286e+02 4.58000000e+02 4.06000000e+00
  9.81000000e+02 4.00000000e+00 7.60000000e+01 0.00000000e+00
  2.00000000e+01 1.20000000e+00 5.19764636e+01 3.06002225e+03
  9.76562500e+00 1.05305820e+01 9.76562500e+00 4.61020142e+00
  6.24694689e+00 1.46281446e+01 3.20000000e+00 3.56517121e+01
  3.20000000e+00 3.20000000e+00 5.95919839e+01 9.53838363e+00
  3.46456693e+00 6.45003503e+02 3.53967745e+00 4.94520648e+01
  3.20000000e+00 1.19839069e+01 3.20000000e+00 3.86539075e+00
  3.20000000e+00 6.01835112e+00 3.20000000e+00 1.54113188e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.33697551e+01 3.20000000e+00 2.84733662e+01
  3.20000000e+00 5.06471351e+01 1.24546228e+04 1.81096965e+03
  1.98126786e+01 5.37736706e+01 7.91239819e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.40000000e+01 1.00000000e+00
  6.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 3.33333333e+02 3.29000000e+02 3.20000000e-01
  1.80700000e+03 9.00000000e+00 3.60000000e+01 6.00000000e+00
  4.80000000e+01 2.30000000e+00 1.96216305e+02 1.68360205e+04
  3.43433219e+01 2.81528146e+01 9.76562500e+00 3.51513163e+00
  6.24694689e+00 3.20000000e+00 3.20000000e+00 2.41137743e+01
  3.20000000e+00 3.92282446e+00 1.51040699e+02 3.01332476e+01
  3.20000000e+00 4.79438941e+02 3.20000000e+00 8.59088430e+01
  3.20000000e+00 6.18347700e+01 3.20000000e+00 1.24521664e+01
  3.20000000e+00 4.35081617e+00 3.20000000e+00 5.46012758e+02
  8.40043329e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 7.74538749e+00 3.20000000e+00 6.16337504e+00
  3.20000000e+00 7.88088091e+01 1.75437189e+03 3.31854573e+03
  1.19226732e+01 1.04047071e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [1.00000000e+00 0.00000000e+00 8.10000000e+01 1.00000000e+00
  2.00000000e+02 0.00000000e+00 2.00000000e+00 0.00000000e+00
  0.00000000e+00 1.15000000e+02 1.97000000e+02 6.20000000e+00
  5.27000000e+02 7.80000000e+01 1.00000000e+01 0.00000000e+00
  1.20000000e+01 1.10000000e+00 7.62947062e+02 6.52613857e+03
  4.69353749e+01 9.03684261e+01 9.76562500e+00 4.35006933e+00
  6.24694689e+00 8.63348582e+00 3.20000000e+00 2.80221948e+01
  3.20000000e+00 3.67601155e+00 5.82416936e+01 5.48026833e+00
  3.20000000e+00 6.04823231e+02 3.20000000e+00 2.69024532e+01
  3.20000000e+00 4.36173380e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 3.77582608e+00 3.20000000e+00 2.62225993e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 4.39572319e+00 3.20000000e+00 2.69628169e+01
  3.20000000e+00 8.29118010e+01 1.96715537e+03 7.25591981e+02
  3.20000000e+00 4.97833747e+00 3.79289660e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]]
y_all (ラベルのみ)
 [ 0.          0.          0.          0.          0.          0.
  0.          0.          0.          1.          1.          0.
  0.          0.          1.          0.          0.          0.
  0.          0.          0.          1.          0.          0.
  0.          0.          0.          1.          0.          0.
  1.          0.          0.          0.          0.          0.
  0.          0.          0.          1.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          1.          0.          0.          1.          1.
  0.          0.          0.          0.          0.          0.
  1.66209502  1.29156295  1.82190596 -0.15762523  0.65899645  0.11767605
 -0.2617728   1.25636273 -1.94621414  0.78574889 -1.08130682  0.22634134
  1.37700904 -0.37324053 -1.24605388 -0.826589    1.25576114 -0.16835021
 -0.09014671  1.49239244]

In [17]:
# フィーチャーの重要性を表すpythonのディクショナリー
# 最初の値は全ての行に1（データの内容を変えないように１で掛け算してもデータは変わらない）で指定しておけば、RFモデルがトレーニングする際に自動で更新してくれる
COL_WEIGHT_DICT = {}

for colname in AE_FILD_df_idf.columns[1:]: # 最初の行が出力データを表すため、フィーチャーの重みは最初の行以外を考慮する
  i = AE_FILD_df_idf.columns.get_loc(colname)
  weight = 1
  COL_WEIGHT_DICT[colname] = 1
  print(f"行名{colname}の重みを{weight}に指定しました")
  X_all[:,i] *= weight #　そのコラム内のデータをweightで掛け算する

行名sex male:0 female:1の重みを1に指定しました
行名age の重みを1に指定しました
行名smoking status Never:0 Ex(quit smoking over a year ago):1 Current:2の重みを1に指定しました
行名Brinkman Indexの重みを1に指定しました
行名emphysema (-):0 (+):1の重みを1に指定しました
行名Baseline ILD UIP:0 probable UIP:1 Indeterminate for UIP:2 Alternative diagnosis:3の重みを1に指定しました
行名Collagen disease (-):0 (+):1の重みを1に指定しました
行名IPAF (-):0 (+):1の重みを1に指定しました
行名P/F ratioの重みを1に指定しました
行名LDHの重みを1に指定しました
行名CRPの重みを1に指定しました
行名KL-6の重みを1に指定しました
行名 BAL(neutro %)の重みを1に指定しました
行名 BAL(Lymph %)の重みを1に指定しました
行名 BAL(Eos %)の重みを1に指定しました
行名 BAL(M %)の重みを1に指定しました
行名 BAL(CD4/8)の重みを1に指定しました
行名MMP-1の重みを1に指定しました
行名MMP-7の重みを1に指定しました
行名TGFB1の重みを1に指定しました
行名TGFB2の重みを1に指定しました
行名TGFB3の重みを1に指定しました
行名EGFの重みを1に指定しました
行名FGF-2の重みを1に指定しました
行名EOTAXINの重みを1に指定しました
行名TGF-aの重みを1に指定しました
行名G-CSFの重みを1に指定しました
行名Flt-3Lの重みを1に指定しました
行名GM-CSFの重みを1に指定しました
行名FRACTALKINEの重みを1に指定しました
行名IFN-a2の重みを1に指定しました
行名IFN-gの重みを1に指定しました
行名GROの重みを1に指定しました
行名IL-10の重みを1に指定しました
行名MCP-3の重みを1に指定しました
行名IL-12P40の重みを1に指定しました
行名MDCの重みを1に指定しました
行名IL-12P70の重みを1に指定しました
行名IL-13の重みを1に指定しました
行名IL-15の重みを1に指定しました
行名sCD40Lの重みを1に指定しました
行名IL-17の重みを1に指定しました
行名IL-1RAの重みを1に指定しました
行名IL-1aの重みを1に指定しました
行名IL-9の重みを1に指定しました
行名IL-1bの重みを1に指定しました
行名IL-2の重みを1に指定しました
行名IL-3の重みを1に指定しました
行名IL-4の重みを1に指定しました
行名IL-5の重みを1に指定しました
行名IL-6の重みを1に指定しました
行名IL-7の重みを1に指定しました
行名IL-8の重みを1に指定しました
行名IP-10の重みを1に指定しました
行名MCP-1の重みを1に指定しました
行名MIP-1aの重みを1に指定しました
行名MIP-1bの重みを1に指定しました
行名TNFaの重みを1に指定しました
行名TNFbの重みを1に指定しました
行名VEGFの重みを1に指定しました
行名IL-36βの重みを1に指定しました

In [18]:
# トレーニングデータとテストデータに入力データを分ける
# トレーニングデータ内のどのデータをどちらのデータセットに振り分けるかの指定をnpのrandom.permutationにより、毎回機械学習を行う際にランダムで決めてもらう
indices = np.random.permutation(len(y_all)) # ラベルの行のindexを記憶している変数
print(f"indices: {indices}")

# X_allとy_allに上記でnpが主力したランダムindexでデータセットの内容をシャッフルする （注：X_allとy_allは必ず同じindexでシャッフルしなくてはいけない）
X_all = X_all[indices]
y_all = y_all[indices]

print("置き換わったフィーチャーリスト：\n", X_all[:10,:])
print("置き換わったラベルリスト：\n", y_all)

indices: [52 48 10 12 13 59 33 29 56 22 21  7 17 37 23 54 57 78 40 77 79 18 32  6
 31 42 28 63 58 11 49 39 74 19 73 36 51  8 44 55 20  9 25 45  1 16 69  5
 15 34  4 35 71 76 46 70 66  0 30 38 60 27 61 68 67  3 26 64 41 14 50 43
 53 24 65 62 47  2 75 72]
置き換わったフィーチャーリスト：
 [[1.00000000e+00 0.00000000e+00 7.70000000e+01 2.00000000e+00
  2.85000000e+03 0.00000000e+00 3.00000000e+00 0.00000000e+00
  0.00000000e+00 1.42666667e+02 4.27000000e+02 1.78000000e+01
  1.13100000e+03 9.00000000e+00 1.00000000e+01 2.00000000e+00
  7.90000000e+01 2.30000000e+00 7.82108200e+02 1.19534998e+04
  9.76562500e+00 3.37680083e+01 9.76562500e+00 6.49592248e+00
  6.24694689e+00 1.56957789e+01 3.20000000e+00 5.25782261e+01
  3.20000000e+00 5.12747775e+00 5.83876303e+01 3.20000000e+00
  3.20000000e+00 1.15013084e+03 3.20000000e+00 2.31570024e+01
  3.20000000e+00 4.87607169e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 3.20000000e+00 3.20000000e+00 2.57196104e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.81875639e+01 3.20000000e+00 3.33742915e+02
  3.20000000e+00 1.55079438e+02 8.10768768e+02 2.65962295e+03
  8.23519597e+00 1.80717735e+01 3.51194200e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 6.40000000e+01 1.00000000e+00
  4.80000000e+02 0.00000000e+00 3.00000000e+00 0.00000000e+00
  1.00000000e+00 4.95238095e+02 1.83000000e+02 5.00000000e-01
  1.12400000e+03 7.00000000e+00 1.50000000e+01 4.00000000e+00
  7.40000000e+01 7.00000000e-01 8.38695532e+01 6.94423078e+03
  1.94618107e+01 3.31956016e+01 9.76562500e+00 3.97806804e+00
  3.20000000e+00 3.20000000e+00 3.20000000e+00 2.23405542e+01
  3.20000000e+00 3.27520884e+00 1.13584996e+02 2.90815319e+01
  3.20000000e+00 3.31235355e+02 3.20000000e+00 2.69024532e+01
  3.20000000e+00 4.39157823e+01 3.20000000e+00 6.65546915e+00
  3.20000000e+00 3.20000000e+00 3.20000000e+00 1.02786646e+03
  1.43997023e+01 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.26332341e+01 3.20000000e+00 3.20000000e+00
  8.00320514e+00 2.59061564e+01 2.06169288e+02 3.74895279e+02
  1.22251636e+01 1.67942383e+01 3.20000000e+00 3.20000000e+00
  2.17919217e+01 2.00000000e+00]
 [1.00000000e+00 1.00000000e+00 7.40000000e+01 0.00000000e+00
  0.00000000e+00 0.00000000e+00 2.00000000e+00 0.00000000e+00
  0.00000000e+00 1.50000000e+02 4.20600000e+03 2.38500000e+01
  2.10700000e+03 7.10000000e+01 1.70000000e+01 3.00000000e+00
  9.00000000e+00 4.00000000e+00 6.91362409e+02 9.99435134e+03
  8.32525011e+01 2.90204608e+01 9.76562500e+00 6.35511596e+00
  6.24694689e+00 2.61729349e+01 3.20000000e+00 4.25887155e+01
  3.20000000e+00 6.94266835e+00 7.65177167e+01 7.68925915e+00
  3.20000000e+00 9.51516585e+02 4.78260396e+00 7.33207600e+01
  3.20000000e+00 2.24288256e+02 3.20000000e+00 3.20000000e+00
  3.63977559e+00 8.16218105e+00 3.20000000e+00 8.03674670e+02
  1.07480659e+01 3.20000000e+00 3.34091058e+00 3.20000000e+00
  3.20000000e+00 1.65637483e+01 3.20000000e+00 1.08401249e+02
  3.20000000e+00 8.38806166e+02 1.85075141e+03 4.79838414e+03
  1.06382049e+02 8.03126848e+01 1.16148733e+01 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.80000000e+01 1.00000000e+00
  1.00000000e+02 0.00000000e+00 3.00000000e+00 0.00000000e+00
  0.00000000e+00 2.85714286e+02 2.80000000e+02 1.12700000e+01
  4.60000000e+02 1.60000000e+01 7.00000000e+01 1.00000000e+00
  1.30000000e+01 4.40000000e+00 3.28950289e+02 5.54035146e+03
  9.31469920e+01 8.54088236e+01 9.76562500e+00 4.08993725e+00
  6.24694689e+00 1.72093952e+01 3.20000000e+00 2.45043602e+01
  6.87856238e+00 6.00516512e+00 2.91909047e+01 3.20000000e+00
  3.20000000e+00 3.41111040e+02 1.55746167e+01 2.70464634e+01
  4.43209696e+00 8.36322154e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.73905225e+01 3.20000000e+00 2.17399236e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 3.95673860e+00 3.20000000e+00 3.55567038e+02
  3.20000000e+00 8.08388197e+01 1.21418357e+04 2.10929803e+03
  1.37256951e+01 4.05852427e+01 8.88781726e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 6.70000000e+01 1.00000000e+00
  1.32000000e+03 1.00000000e+00 3.00000000e+00 0.00000000e+00
  0.00000000e+00 1.33888889e+02 6.50000000e+02 1.97000000e+01
  2.21500000e+03 1.30000000e+01 3.40000000e+01 1.20000000e+01
  4.10000000e+01 7.00000000e+00 7.22890250e+02 1.69481264e+04
  2.64050995e+01 2.77972063e+01 9.76562500e+00 4.94730812e+00
  6.24694689e+00 1.01438088e+01 3.20000000e+00 2.83591563e+01
  3.20000000e+00 3.40621125e+00 6.24265945e+01 5.48026833e+00
  3.20000000e+00 1.35775418e+03 4.23739437e+00 7.18035850e+01
  3.20000000e+00 6.53119318e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.41116265e+01 3.20000000e+00 2.35996789e+02
  4.36812880e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.44259616e+01 3.20000000e+00 7.89637192e+01
  3.20000000e+00 1.63612724e+02 1.27416672e+04 2.67539320e+03
  5.78718709e+01 5.24107800e+01 1.14110197e+01 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.10000000e+01 1.00000000e+00
  1.80000000e+03 0.00000000e+00 3.00000000e+00 0.00000000e+00
  0.00000000e+00 3.18181818e+02 3.17000000e+02 2.87000000e+00
  1.16600000e+03 1.00000000e+01 2.60000000e+01 1.20000000e+01
  5.20000000e+01 4.70000000e+00 1.74314654e+02 7.55167881e+03
  4.18675298e+01 3.45041895e+01 9.76562500e+00 4.67184701e+00
  3.20000000e+00 8.63348582e+00 3.20000000e+00 2.72985566e+01
  3.20000000e+00 3.92237528e+00 8.74779722e+01 1.29711019e+01
  3.20000000e+00 5.62340959e+02 3.20000000e+00 1.79319897e+01
  3.20000000e+00 6.52721688e+01 3.20000000e+00 4.24629584e+00
  3.20000000e+00 3.20000000e+00 3.20000000e+00 4.70996753e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.97446807e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 8.78507231e+01 3.55485864e+02 7.15793530e+02
  1.85219198e+01 1.60573405e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.20000000e+01 1.00000000e+00
  9.00000000e+02 0.00000000e+00 0.00000000e+00 1.00000000e+00
  0.00000000e+00 2.00000000e+02 2.24000000e+02 3.24000000e+00
  3.53000000e+02 2.20000000e+01 6.00000000e+00 0.00000000e+00
  7.20000000e+01 6.00000000e-01 2.92006513e+02 3.14395947e+04
  5.18753250e+01 1.24253843e+02 9.76562500e+00 4.35006933e+00
  6.24694689e+00 7.43482177e+00 3.20000000e+00 2.16105255e+01
  3.20000000e+00 8.90066172e+00 5.82416936e+01 3.20000000e+00
  3.20000000e+00 5.27464943e+02 3.20000000e+00 1.75288910e+01
  3.20000000e+00 1.39980325e+01 3.20000000e+00 3.20000000e+00
  3.66038710e+00 3.20000000e+00 3.20000000e+00 1.83591302e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.00604129e+01 3.20000000e+00 2.75579127e+01
  3.20000000e+00 1.05138920e+02 1.88464436e+02 2.70633614e+03
  3.20000000e+00 7.95151876e+00 3.79289660e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.90000000e+01 1.00000000e+00
  8.00000000e+02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 3.80952381e+02 2.45000000e+02 7.77000000e+00
  8.26000000e+02 1.00000000e+01 6.00000000e+00 6.00000000e+00
  7.80000000e+01 2.60000000e+00 1.32945710e+02 6.37971923e+03
  2.73730177e+01 2.78737333e+01 9.76562500e+00 5.07449629e+00
  6.24694689e+00 3.20000000e+00 3.20000000e+00 1.37471584e+01
  3.20000000e+00 3.20000000e+00 7.81016564e+01 1.41304025e+01
  3.20000000e+00 7.83909795e+02 3.20000000e+00 1.25351509e+01
  3.20000000e+00 4.83880384e+01 3.20000000e+00 3.20000000e+00
  3.51975639e+00 3.20000000e+00 3.20000000e+00 7.58374251e+02
  5.59242188e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.38321778e+01 3.20000000e+00 3.33376633e+00
  3.20000000e+00 9.14723516e+01 2.87561001e+02 4.37973748e+02
  1.27195723e+01 2.21675437e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 8.10000000e+01 1.00000000e+00
  8.00000000e+02 0.00000000e+00 1.00000000e+00 0.00000000e+00
  0.00000000e+00 1.72600000e+02 4.29000000e+02 1.08500000e+01
  9.42000000e+02 2.20000000e+01 5.00000000e+01 2.30000000e+01
  5.00000000e+00 3.00000000e-01 1.08846417e+03 1.42717166e+04
  4.18675298e+01 3.71251202e+01 1.95902533e+01 4.98256573e+00
  1.38259615e+01 9.25911111e+00 3.20000000e+00 2.95266466e+01
  3.20000000e+00 3.20000000e+00 6.44039292e+01 6.18672032e+00
  3.20000000e+00 6.03976680e+02 3.32271836e+00 2.21996705e+01
  3.26824705e+00 6.38745716e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.17386061e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 1.69099826e+01 3.20000000e+00 2.10895382e+02
  3.20000000e+00 2.94393439e+02 7.35703629e+03 6.58676781e+02
  9.75218773e+00 5.28762379e+01 3.20000000e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]
 [0.00000000e+00 0.00000000e+00 7.30000000e+01 1.00000000e+00
  2.00000000e+03 1.00000000e+00 3.00000000e+00 0.00000000e+00
  0.00000000e+00 1.40000000e+02 2.98000000e+02 1.60000000e+01
  1.12300000e+03 7.00000000e+00 5.80000000e+01 1.00000000e+00
  3.40000000e+01 1.60000000e+00 2.10736311e+02 1.25833811e+04
  2.64317469e+01 5.09317247e+01 9.76562500e+00 4.35006933e+00
  6.24694689e+00 8.63348582e+00 3.20000000e+00 2.80221948e+01
  3.20000000e+00 3.20000000e+00 5.99264878e+01 8.85972558e+00
  3.20000000e+00 5.09801059e+02 3.20000000e+00 6.22420609e+01
  3.20000000e+00 4.02814409e+01 3.20000000e+00 4.21989556e+00
  3.20000000e+00 6.03418260e+00 3.20000000e+00 1.91759116e+02
  3.20000000e+00 3.20000000e+00 3.20000000e+00 3.20000000e+00
  3.20000000e+00 3.95673860e+00 3.20000000e+00 7.25050843e+01
  3.20000000e+00 1.07882623e+02 8.41902307e+03 2.65794789e+03
  1.06732822e+01 3.73742627e+01 6.87877561e+00 3.20000000e+00
  3.20000000e+00 2.00000000e+00]]
置き換わったラベルリスト：
 [ 1.          0.          1.          0.          0.          0.
  0.          0.          0.          0.          1.          0.
  0.          0.          0.          0.          0.         -0.09014671
  0.         -0.16835021  1.49239244  0.          0.          0.
  0.          0.          0.         -0.15762523  0.          0.
  1.          1.         -1.24605388  0.         -0.37324053  0.
  0.          0.          0.          0.          0.          1.
  0.          0.          0.          0.          0.78574889  0.
  0.          0.          0.          0.          0.22634134  1.25576114
  0.         -1.08130682 -0.2617728   0.          1.          0.
  1.66209502  1.          1.29156295 -1.94621414  1.25636273  0.
  0.          0.65899645  0.          1.          0.          0.
  1.          0.          0.11767605  1.82190596  0.          0.
 -0.826589    1.37700904]

In [19]:
# トレニーングデータとテストデータの振り分け
# 割合：トレーニング（8割）・テスト（2割）
NUM_ROWS = X_all.shape[0] #　列数
TEST_PERCENT = 0.2 #　TEST ＋　TRAINING は必ず1にならなければいけない
TEST_SIZE = int(TEST_PERCENT * NUM_ROWS) 

X_test = X_all[:TEST_SIZE] # 0からTEST＿SIZEまでのデータ
y_test = y_all[:TEST_SIZE]

X_train = X_all[TEST_SIZE:] # TEST_SIZE以降のデータ
y_train = y_all[TEST_SIZE:]

print(f"トレーニング列数：{len(y_train)}、テスト列数：{len(y_test)}")

トレーニング列数：64、テスト列数：16

In [20]:
# RF解析に使うsklearnのライブラリーの導入
from sklearn import tree #　決定木モデル
from sklearn import ensemble # RF解析用のモデル
from sklearn.model_selection import cross_val_score # RF解析の最適解層をcross validationを使い見つけるためのモデル

In [21]:
# モデルの構築・モデルのトレーニング
# RF モデルの構築
# cross_valを使い、最適層を決めるんですが、事前に何階層を使えばいいかわからないため、適当に6階層決定木42と指定する
best_depth = 6
best_num_trees = 42
rforest_model = ensemble.RandomForestClassifier(max_depth=best_depth, n_estimators=best_num_trees) # ensemble.RandomForestClassifierからRF解析モデルを引っ張ってくる

# モデルの初期トレーニング
rforest_model.fit(X_train, y_train) # .fit()がトレーニングデータを使い、モデルをトレーニングしろというコマンド
print(f"RFモデルを{best_depth}層と{best_num_trees}決定木で作成しました")

ValueError: ignored

In [ ]:
#　初期トレーニング後のモデルのパフォーマンス検証
# テストデータにrforest_modelに.predict()関数を応用し、RFモデルがラベルを何個正確に予測出来たかを検証する
predicted_labels = rforest_model.predict(X_test)
actual_labels = y_test

# ラベルをプリントして実際に予測vs.実際のラベルを見てみる
print(f"予測ラベル：{predicted_labels}")
print(f"実際ラベル: {actual_labels}")

# 正確性の出力
num_correct = sum(predicted_labels == actual_labels)
total = len(actual_labels)
print(f"正確性は：{num_correct/total * 100}％でした")

In [ ]:
# cross validationを使い、階層や決定木の数をチューニングしてみる（ハイパーパラメーター）
# 注：過適合/過剰適合のバランスを見極めながらハイパーパラメーターチューニングを行う
best_accuracy = 0
best_depth = 1
best_num_trees = 42

for ntrees in range(50,450,100):  # 決定木50から350の間（ステップ数：100)
    for d in range(1,20): # 階層1から20の間
        rforest_model = ensemble.RandomForestClassifier(max_depth=d, 
                                                        n_estimators=ntrees)
        cv_scores = cross_val_score( rforest_model, X_train, y_train, cv=5 ) # 5 はトレーニング・テストの割合が8割・2割ということを表す
        average_cv_accuracy = cv_scores.mean()  # cvスコアの平均値cv=5はスコアを五つ出すため、その平均値を見る
        if average_cv_accuracy >= best_accuracy: # cvスコアの平均値正確性が現在の最適正確性を上回った場合、現在のcvスコア平均値を出した決定木数・階層を最適とする
            best_accuracy = average_cv_accuracy
            best_depth = d
            best_num_trees = ntrees
        print(f"階層: {d:2d} 決定木: {ntrees:3d} cv スコア平均値: {average_cv_accuracy:7.4f}")

print()
print(f"最適層: {best_depth}, 最適決定木数： {best_num_trees}, 最高予測精度：{best_accuracy}")

In [ ]:
# 上記で見つけた最適層・最適決定木数をもとにモデルの構築・モデルのトレーニング
rforest_model = ensemble.RandomForestClassifier(max_depth=best_depth, n_estimators=best_num_trees) # ensemble.RandomForestClassifierからRF解析モデルを引っ張ってくる

# モデルを再度トレーニングする
rforest_model.fit(X_train, y_train) # .fit()がトレーニングデータを使い、モデルをトレーニングしろというコマンド
print(f"RFモデルを{best_depth}層と{best_num_trees}決定木で作成しました")

In [ ]:
#  ラベル毎に予測ラベルが実際のラベルと一致してるか確認する関数
def compare_labels(predicted_labels, actual_labels):
    NUM_LABELS = len(predicted_labels)
    num_correct = 0
    
    for i in range(NUM_LABELS): 
        p = int(round(predicted_labels[i]))         # round protects from fp error 
        a = int(round(actual_labels[i]))
        result = "incorrect"
        if p == a:  # if they match,
            result = ""       # no longer incorrect
            num_correct += 1  # and we count a match!

        print(f"row {i:>3d} : {p} {a}   {result}") 

    print(f"\n正確性は：{num_correct/NUM_LABELS * 100}％でした")
    return num_correct

In [ ]:
# 再度トレーニングした後のモデルのパフォーマンス検証
# テストデータにrforest_modelに.predict()関数を応用し、RFモデルがラベルを何個正確に予測出来たかを検証する
predicted_labels = rforest_model.predict(X_test)
actual_labels = y_test

# ラベルをプリントして実際に予測vs.実際のラベルを見てみる
print(f"予測ラベル：{predicted_labels}")
print(f"実際ラベル: {actual_labels}")

# 正確性の出力
compare_labels(predicted_labels, actual_labels)

In [ ]:
# フィーチャーの重要度を出力するコード
feature_importances = rforest_model.feature_importances_

feature_importances_dict = {}
for i, importance in enumerate(feature_importances):
  perc = importance * 100
  feature_importances_dict[AE_FILD_df_idf.columns[i]] = perc

sorted_dict = {}
sorted_keys = sorted(feature_importances_dict, key=feature_importances_dict.get)
for w in sorted_keys:
    sorted_dict[w] =  feature_importances_dict[w]
  
for keys in sorted_dict.keys():
  print(f"フィーチャー名：{keys:>12s}は出力データの結果に{sorted_dict[keys]:>7.2f}%関与しています")